# generated at 2/23/2023, 3:14:29 PM by quec-cli@1.11.1

# 默认淘宝源
registry=https://registry.npmmirror.com

# 私库统一配置
@quec:registry=http://192.168.23.184:4873

# 私库认证 账号密码 quecui 123456
//192.168.23.184:4873/:_authToken="j2tPZR7B8xRbMy1ufjXgp+EeA/LURyl3em6e9B91cv0="
always-auth=true

node-linker=hoisted
strict-peer-dependencies=false
engine-strict=true
